In [14]:
#welcome to python
print ("Hello, World!")

Hello, World!

In [17]:
x = 1
#x = "Adeola"
print (x)

1

In [19]:
x = str(1)
y = int(2)
z = float(3)
print (x)
print (y)
print (z)

1
2
3.0

In [21]:
x =10
y = "John"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

In [4]:
if 5 > 2:
 print ("Five is greater than two!")

Five is greater than two!

In [13]:
x = 5
y = "Hello World"
print (x)

5

In [9]:
if 5 > 2:
 print ("Five is greater than two!")
if 10 * 2:
 print ("Ten multiply by 2")

Five is greater than two!
Ten multiply by 2

In [23]:
x = "Tolu"
x = 'Tolu'

In [24]:
a = 4
A = 4

In [27]:
myvar = "john"
Myvar = "John"
my_var = "John"
myVar2 = "John"
MYVAR = "John"
#2myvar = "john"

In [28]:
#camelcase
myVsriableName = "teni"

#pascalcase
MyaVariableName = "teni"

#snakecase
my_variable_name = "teni"

In [31]:
#many values to multiple variables
x,y,z = "mango", "banana", "cherry"
print (x)
print (y)
print (z)

mango
banana
cherry

In [32]:
#one value to many variables
x=y=z = "cherry"
print (x)
print (y)
print (z)

cherry
cherry
cherry

In [33]:
fruits = ["mango", "apple", "cherry"]
x,y,z = fruits
print (x)
print (y)
print (z)

mango
apple
cherry

In [44]:
x = "awesome"
print ("python is " + x)

x = "python is "
y = "awesome"
z = x + y
print (z)

python is awesome
python is awesome

In [45]:
x = 5
y = 18
print (x + y)

23

In [46]:
x = 20
y = 2
print (x * y)

40

In [48]:
x = 4
y = "tolu"
print ("x" + y)

xtolu

In [57]:
#global variable
x = "awesome"

def myfunc():
 print ("python is " + x)

myfunc()

python is awesome

In [ ]:
#local variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print ("python is " + x)

myfunc()
print ("python is " + x)

python is fantastic
python is awesome

In [72]:
#global keyword
#x = "awesome"

def myfunc():
  global x
  x = "fantastic"
 # print ("python is " + x)

myfunc()
print ("python is " + x)

python is fantastic

In [73]:
#global keyword
x = "awesome"

def myfunc():
  global x
  x = "fantastic"
  #print ("python is " + x)

myfunc()
print ("python is " + x)

python is fantastic

In [74]:
x = range(6)
print (x)

range(0, 6)

In [76]:
x = {"name" : "John", "age" : 36}
print (x)

{'name': 'John', 'age': 36}

In [80]:
x = frozenset({"Apple", "Banana", "Orange"})
print (x)

frozenset({'Orange', 'Apple', 'Banana'})

In [83]:
x = True
print (x)

True

In [86]:
x = b"hello"
print (x)

b'hello'

In [90]:
x = bytearray(3)
print (x)

bytearray(b'\x00\x00\x00')

In [92]:
x = memoryview(bytes(5))
print (x)

<memory at 0x7f6950ce2bb0>

In [2]:
x = 4
y = 556
z = -3456
print (type(x))
print (type(y))
print (type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [5]:
x = -4.567
print (type(x))
y = 35e100
print (type(y))

<class 'float'>
<class 'float'>

In [7]:
x = 5j
y = 5+4j
z = -5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [12]:
x = 5 #int
y = 2.8 #float
z = 1j #complex
#convert from int to float
a = float(x)
#convert from float to int
b = int(y)
#convert from int to complex
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

5.0
2
(5+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [17]:
import random
print(random.randrange(1, 10))

7